version: "3"
services:
  dfg-server:
    build:
      context: .
    command: "pnpm start"
    environment:
      SLACK_WEBHOOK_URL: ${SLACK_WEBHOOK_URL}
      NODE_ENV: ${NODE_ENV:-development}
    image: dfg-server:latest
    ports:
      - "2567:2567"
